<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineBanking</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>afterLogin</display-name>
    <servlet-name>afterLogin</servlet-name>
    <servlet-class>com.project.servlet.afterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afterLogin</servlet-name>
    <url-pattern>/afterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>afterAccount</display-name>
    <servlet-name>afterAccount</servlet-name>
    <servlet-class>com.project.servlet.afterAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afterAccount</servlet-name>
    <url-pattern>/afterAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>com.project.servlet.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoTransfer</display-name>
    <servlet-name>DoTransfer</servlet-name>
    <servlet-class>com.project.servlet.DoTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoTransfer</servlet-name>
    <url-pattern>/DoTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnualStatement</display-name>
    <servlet-name>AnnualStatement</servlet-name>
    <servlet-class>com.project.servlet.AnnualStatement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnualStatement</servlet-name>
    <url-pattern>/AnnualStatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressChange</display-name>
    <servlet-name>AddressChange</servlet-name>
    <servlet-class>com.project.servlet.AddressChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressChange</servlet-name>
    <url-pattern>/AddressChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeBook</display-name>
    <servlet-name>ChequeBook</servlet-name>
    <servlet-class>com.project.servlet.ChequeBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeBook</servlet-name>
    <url-pattern>/ChequeBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeBook1</display-name>
    <servlet-name>ChequeBook1</servlet-name>
    <servlet-class>com.project.servlet.ChequeBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeBook1</servlet-name>
    <url-pattern>/ChequeBook1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.project.servlet.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniStatement</display-name>
    <servlet-name>MiniStatement</servlet-name>
    <servlet-class>com.project.servlet.MiniStatement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniStatement</servlet-name>
    <url-pattern>/MiniStatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopPayment1</display-name>
    <servlet-name>StopPayment1</servlet-name>
    <servlet-class>com.project.servlet.StopPayment1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopPayment1</servlet-name>
    <url-pattern>/StopPayment1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOtp</display-name>
    <servlet-name>CheckOtp</servlet-name>
    <servlet-class>com.project.servlet.CheckOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOtp</servlet-name>
    <url-pattern>/CheckOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOtp</display-name>
    <servlet-name>SendOtp</servlet-name>
    <servlet-class>com.project.servlet.SendOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOtp</servlet-name>
    <url-pattern>/SendOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>com.project.servlet.Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
</web-app>